*{
    padding: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
  }
  
  /* Header Starts */
  .header{
    display: grid;
    grid-template-columns: repeat(2, 1fr);  /* this makes all the three columns equal(3 columns, all equal) */
    padding: 0px 25px;
    height: 100vh;
    align-items: center;
    background-image: linear-gradient(to right, rgb(3, 201, 136), rgb(160, 132, 220));
      
  }
  .logo img{
    height: auto;
    max-width: 100%;
    width: 410px;
    
  }
  /* header Ends */

  /* mobileview starts */
  .icons{
    border: 1px #FF6E31;
    height: auto;
    text-align:center; /* acessing icons and moving them to center */
  }
  
  /* can be acesses all the icons with .fa */
  .icons .fa{
    box-shadow: 1px 1px 1px 1px lightblue;
    background-color: aliceblue;
    border-radius: 6px;
    color:#FF6E31;
    text-decoration:none;
    font-size: 30px;
    padding: 0px 6px;
    transition: 0.5s;
  }
  /* hover for the icons */
  .fa:hover{
    color: blueviolet;
  }

  .bio{
    color:antiquewhite;
    font: 0.2em;
    text-decoration: none;
    
 }
 .bio h2{
    box-shadow: 2.5px 2.5px 2.5px 2.5px lightblue;
    background-color: #FF6E31;
    border-radius: 10px;
    min-width: max-content;
    max-width: 10em;
    text-align: center;
 }
 .bio p{
    text-align:justify;
    padding: 1em 0em;
    word-spacing: 0.1em;
 }
/* mobileview Ends */
  
  /* for small devices */
  /* mediaqueries starts */
  @media only screen and ( max-width:700px) {
    .header{
      grid-template-columns: auto auto;
      padding: 10px 10px 0px 0px;
      height: 100vh;
    }
    .mobileview{
      height: auto;
      text-align: center;
      grid-row:2;
      padding-top:0.2em;
    }
  }
  /* mediaqueries ends */